.icon {
  font-size: 4rem;
}

.color-text {
  color: #64a19d;
}

.modal-title {
  color: #64a19d;
  text-align: center;
}

#aboutsection {
  color: #64a19d;
}

#wellness {
  color: #64a19d;
  margin-left: 50px;
}

#digiMedia {
  background-image: url('../img/demo-image-01.jpg');
  background-size: cover;
}

.carousel-item img {
  height: 350px;
  width: 80%;
}

#carouselExampleIndicators {
  color: #64a19d;
}
